<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Tracker App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 1-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="" href="../public/css/homepage.css">
</head>

<body>
    <nav class="navbar is-white is-shadowless">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="../public/images/logo.png" alt="Logo" width="112" height="28">
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Profile
                        </a>
                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" id="account-settings">
                                Account Settings
                            </a>
                            <a class="navbar-item" id="goal-settings">
                                Goal Settings
                            </a>
                            <a class="navbar-item" id="logout">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Account Settings Modal -->
    <div id="account-settings-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">

            <header class="modal-card-head">
                <p class="modal-card-title">Change Password</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control">
                        <input id="new-password" class="input" type="password" placeholder="Enter new password">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Verify Password</label>
                    <div class="control">
                        <input id="verify-password" class="input" type="password" placeholder="Verify new password">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="change-password-btn" class="button is-success">Change Password</button>
            </footer>
        </div>
    </div>

    <!-- Goal Settings Modal -->
    <div id="goal-settings-modal" class="modal ">
        <div class="modal-background"></div>
        <div class="modal-card ">
            <header class="modal-card-head ">
                <p class="modal-card-title">Goal Settings</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Current Weight</label>
                    <div class="control">
                        <input id="current-weight" class="input" type="number" placeholder="Enter current weight">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Weight Goal</label>
                    <div class="control">
                        <input id="weight-goal" class="input" type="number" placeholder="Enter weight goal">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Calorie Goal</label>
                    <div class="control">
                        <input id="calorie-goal" class="input" type="number" placeholder="Enter calorie goal">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save Changes</button>
            </footer>
        </div>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column is-3 mt-5">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">Choose your meal</p>
                    <ul class="menu-list">
                        <li><a class="{{#if isBreakfastActive}}is-active{{/if}}">Breakfast</a></li>
                        <li><a class="{{#if isLunchActive}}is-active{{/if}}">Lunch</a></li>
                        <li><a class="{{#if isDinnerActive}}is-active{{/if}}">Dinner</a></li>
                    </ul>
                    <p class="menu-label">Food Tracker</p>
                    <ul class="menu-list">
                        <li><a>Food search</a></li>
                        <li><a>Progress Bar</a></li>
                        <li><a>Your Meals</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9.5">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">Hello, {{userInfo.username}}.</h1>
                            <h2 class="subtitle">I hope you are having a great day!</h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">Calories Goal</p>
                                <p class="subtitle" id="calorieGoal">{{calorieGoal}} cal</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">Calories Today</p>
                                <p class="subtitle" id="caloriesToday">{{caloriesToday}} cal</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">Calories Left Today</p>
                                <p class="subtitle" id="caloriesLeft">{{caloriesLeft}} cal</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-6 mt-6">
                        <h1 class="title">Food Tracker</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">Your Foods</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {{#each foods}}
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>{{this.name}}</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Add</a></td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Save as a Meal</a>
                                <a href="#" class="card-footer-item">Delete</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-6 mt-6 ml-3">
                        <h1 class="title">Search Bar</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">Food Search</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content">
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-large" type="text" placeholder="Search for food...">
                                    <span class="icon is-medium is-left">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="icon is-medium is-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns mt-6">
                    <div class="column is-12">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">Your Meals</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {{#each meals}}
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>{{this.name}}</td>
                                                <td class="level-right"><a class="button is-small is-primary" href="#">Add</a></td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Save as a Meal</a>
                                <a href="#" class="card-footer-item">Delete</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-6 mt-6">
                        <h1 class="title">Progress</h1>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">Progress Bar</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td>Calories Consumed Today:</td>
                                                <td>{{progressToday}}%</td>
                                            </tr>
                                            <tr>
                                                <td>Weight Loss:</td>
                                                <td>{{weightLoss}} lbs</td>
                                            </tr>
                                            <tr>
                                                <td>Weight Goal:</td>
                                                <td>{{weightGoal}} lbs</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Save Progress</a>
                                <a href="#" class="card-footer-item">Reset</a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script async type="text/javascript" src="../js/bulma.js"></script>
      <script src="\js\homepage.js"></script>
</body>

</html>